@model IEnumerable<AllClassViewModel>


    <h1>Gym Classes</h1>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            <th>Insturctor</th>
            <th>Starting time and date</th>
            <th>Duration</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gymClass in Model)
            {
                <tr>
                    <td>@gymClass.Name</td>
                    <td>@gymClass.Instructor</td>
                    <td>@gymClass.StartTimeAndDate</td>
                    <td>@gymClass.Duration minutes</td>
                <td>
                    <a asp-action="SignUp" asp-route-id="@gymClass.Id" class="btn btn-info btn-sm">Sign up</a>
                </td>
                </tr>
            }
        </tbody>
   </table>
