 @model ICollection<AllGymViewModel>

@{
    ViewBag.Title = "Gyms";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-3 h-100" style="width: 20rem; ">
            @if (!string.IsNullOrEmpty(e.ImageUrl))
            {
                <img src="@e.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Game Image">
            }
            else
            {
                <img src="/images/DefaultGym.jfif" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Placeholder Image">
            }
            <div class="card-body" style="height: calc(100% - 150px); overflow: auto;">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper" style="height: 3em; overflow: hidden;">
                            <h4 class="card-title mt-1">@e.Name</h4>
                        </div>
                    </div>
                </div>
                <h5 class="card-title mt-1">@e.Address</h5>
                <p class="mb-0" style="height:4em"><span class="fw-bold">Working Hours: </span>@e.OpeningHour h - @e.ClosingHour h</p>
                <a asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary">Details</a>
                <a asp-controller="Review" asp-action="Add" asp-route-id="@e.Id" class="btn btn-primary">Leave a Review</a>
                <a asp-controller="Review" asp-action="ReviewsForGym" asp-route-id="@e.Id" class="btn btn-secondary">Gym Reviews</a>
            </div>

           

        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}