 @model ICollection<AllGymViewModel>

@{
    ViewBag.Title = "Gyms";
}

<h2 class="text-center">@ViewBag.Title</h2>


@if (TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["Message"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by name: <input type="text" name="searchText" value="@ViewData["SearchText"]" /></label>
            <input type="submit" value="Search" class="btn btn-secondary"/> 
            <a asp-action="Index" class="btn btn-secondary m-1">Back to Full List</a>
        </p>
    </div>
</form>

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-3 h-100" style="width: 20rem; ">
            @if (!string.IsNullOrEmpty(e.ImageUrl))
            {
                <img src="@e.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            }
            else
            {
                <img src="/images/DefaultGym.jfif" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Placeholder Image">
            }
            <div class="card-body" style="height: calc(100% - 150px); overflow: auto;">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper" style="height: 3em; overflow: hidden;">
                            <h4 class="card-title mt-1">@e.Name</h4>
                        </div>
                    </div>
                </div>
                <h5 class="card-title mt-1">@e.Address</h5>
                <p class="mb-0" style="height:4em"><span class="fw-bold">Working Hours: </span>@e.OpeningHour h - @e.ClosingHour h</p>
                <a asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary m-1">Details</a>
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <a asp-controller="Review" asp-action="Add" asp-route-id="@e.Id" class="btn btn-primary m-1">Leave a Review</a>
                }
                <a asp-controller="Review" asp-action="ReviewsForGym" asp-route-id="@e.Id" class="btn btn-primary">Gym Reviews</a>
                 
            </div>

           

        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}