@model IEnumerable<AllMembershipsViewModel>

@{
    ViewBag.Title = "My Memberships";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">@e.GymName</h4>
                <h5 class="card-title mt-1">@e.Type</h5>
                <p class="mb-0"><span class="fw-bold">Starting Date: </span>@e.StartDate</p>
            </div>

            <form class="input-group-sm " asp-controller="Membership" asp-action="Cancel" asp-route-id="@e.Id">
                <input type="submit" value="Cancel" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
            </form>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}